
.map-view{
  z-index: 0;
  height:100%;
  width: 45%;
  position: relative;
  /* bottom: 100vh; */
  top:0;
  left: 30%;
  /* transform: translate(-50%,-50%) */
}

 div .map-contianer{
  height: 100vh;
}
@media only screen and (max-width: 1440px) {
  div .map-contianer{
    height: 93vh;
  }

}
@media only screen and (max-width: 1024px) {
  div .map-contianer{
    height: 93vh;
  }

}
@media only screen and (max-width: 768px) {
  div .map-contianer{
    height: 93vh;
  }
  .map-view{

     height: 100%;

  }
}
@media only screen and (max-width: 426px) {
  div .map-contianer{
    height: 83vh;
  }
  .map-view{

     height: 100%;
     width: 100%;
     left: 0%;

  }
}